@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    background-color: black;
    text-align: centre;
}
h1{
    color: white;
    text-align: center;
}

/* body{
    widh: 30%;
    height: 200px;
    
} */
.section1{
    width: 11%;
    height: 230px;
    background-color: grey;
    
    
    padding: 5px
    
}
.section1{
    margin-left:373px;
    margin-bottom
}
.section2{
    width: 11%;
    height: 230px;
    background-color: #295c47;
    padding:5px;
}
.section2{
    margin-left:566px;
    margin-bottom:120px;
}