 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 
body{
    background-color: black;
    text-align: centre;
} 
h1{
    color: white;
    text-align: center;
}

/* body{
    widh: 30%;
    height: 200px;
    
} */
/* .box1{
    width: 11%;
    height: 230px;
    background-color: grey;
    
    
    padding: 5px
    
}




.box1{
    margin-left:373px;
    margin-bottom
}
.box2{
    width: 11%;
    height: 230px;
    background-color: #295c47;
    padding:5px;
}
.box2{
    margin-left:566px;
    margin-bottom:120px;
} */ 



div{
    width: 10%;
    height: 200px;
    float: left;
    /* border: 1px solid black; */

} 
.box1{
    margin-left: 370px;
    background-color:#595959;
    
}
.box2{
    margin-left: 6px;
    background-color: #52664b;

}
.box3{
    margin-left: 6px;
    background-color: #41874b;

}
.box4{
    margin-left:6px;
    background-color: #41cc56;

}
.box5{
    margin-left: 6px;
    background-color: white;
}